<% article = current_page_data['chorus_entry'] %>
<section class="content">
  <!-- CONTENT -->

  <div class="row">
    <%= partial 'partials/ads/leaderboard' %>
  </div>

  <%= article['body_extended'] %>

  <div class="row pagination text-center">
    <%= partial 'partials/modules/_bottom_pagination', locals: {
      pages: pages_data, curpage: current_page_data, nextpage: next_page_data, prevpage: prev_page_data } %>
  </div>

  <div class="row">
    <%= partial 'partials/ads/leaderboard' %>
  </div>

</section>
