<!-- AD -->
<div class="ad text-center">
  <div class="desktop">
    <%= ad_placement 'leaderboard' %>
  </div>
  <div class="mobile">
    <%= ad_placement 'mobile_banner' %>
  </div>
</div>
<!-- /AD -->