<nav class="m-graphics-topper">
  <div class="row">
    <h3><%= title %></h3>

    <span>
      <ul class="social">
        <li><a data-analytics-social="twitter"
               href="<%= tweet %>" class="icon-twitter"></a>
        <li><a data-analytics-social="facebook"
               href="<%= facebook %>" class="icon-facebook"></a>
        <li><a data-analytics-social="pinterest"
               href="<%= pinterest %>" class="icon-pinterest-alt"></a>
      </ul>
    </span>
  </div>
</nav>
