<nav class="top-bar">
    <section class="left">
        <a class="logo <%= vertical %>" href="/"></a>
    </section>
    <section class="right">
        <a data-analytics-social="twitter" href="<%= tweet %>" class="icon-twitter button">Tweet</a>
        <a data-analytics-social="facebook" href="<%= facebook %>" class="icon-facebook button">Share</a>
    </section>
</nav>
