<div id="ooyalaplayer<%= id %>" class="OoyalaHtml5VideoPlayer"></div>
<script>OO.ready(function() { OO.Player.create('ooyalaplayer<%= id %>', '<%= code %>'); });</script>
<noscript><div>Please enable Javascript to watch this video</div></noscript>
