<div class="hymnal-loading-zone bookmark-unit">
  <!-- bookmark ad call -->
  <div class="ad text-center">
    <div class="top-banner advert" data-ad-slot="bookmark"></div>
  </div>
  <a href="#" class="bookmarkClose" data-analytics-link="close-ad">Dismiss Ad</a>
  <!--<a href="#"><img src="<%#= image_path 'test-ad.png' %>"></a>-->
</div>
