<script>var AUTOTUNE = <%= data.autotune.to_json %></script>

<div id="graphic">
  <div class="timeline centered" id="container">
    <ul></ul>
  </div>
</div>

<%= javascript_include_tag "edit_graphic" %>
